@font-face {
  font-family: "Josefin Sans";
  src: url("./../fonts/Josefin-Sans-Regular.woff2") format("woff2");
}

/// Font Families ///
$font-family: "Josefin Sans", "Times New Roman";

/// Colors ///
$color-background: #fff;
$color-border-asset: #eee;
$color-font-primary: #016c92;
$color-font-secondary: #444;
