@import "variables";
@import "signin";

#cExtension {
  font-size: 12px;
  font-family: $font-family;
  margin: 0;
  min-height: 490px;
}

.assets {
  padding-top: 20px;
  width: 350px;

  &__content {
    min-height: 240px;
  }

  &__header {
    text-align: left;
    padding: 20px 10px 5px;
    letter-spacing: 2px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
  }

  &__list {
    &:nth-child(2n-1) {
      background-color: red;
    }
  }
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}
// /* Rate style */

.rate {
  border-left: 2px solid $color-border-asset;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  height: 50px;
  margin: 0;
  position: relative;
  width: 50%;

  &:before {
    background-color: $color-border-asset;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    width: 96%;
  }

  &__image {
    display: inline-block;
    float: left;
    height: 30px;
    padding: 10px 5px 10px 10px;
    width: 30px;
  }

  &__code {
    box-sizing: border-box;
    color: #05668d;
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 2px;
    padding: 0 0 0 4px;
    text-transform: uppercase;
  }
}

.rate__value {
  color: $color-font-primary;
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 50px;
  padding: 0;
  position: absolute;
  right: 10px;
  top: 0;
  text-align: center;
}
// Transition to this naming convention

.asset {
  &__numbers {
    box-sizing: border-box;
    height: 50px;
    overflow: hidden;
    margin: 0;
    max-width: 42%;
    padding: 12px 0 0;
    position: absolute;
    right: 10px;
    top: 0;
  }

  &__value {
    color: #05668D;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 15px;
    text-align: right;
  }
}

.icon--heart {
  background-image: url("../images/heavy-black-heart_2764.png");
  background-size: contain;
  display: inline-block;
  height: 13px;
  width: 13px;
}
