@import "variables";

#cExtension {
  font-size: 12px;
  font-family: $font-family;
  margin: 0 0 35px;
  min-height: 500px;
}

.assets {
  padding-top: 20px;
  width: 350px;

  &__content {
    min-height: 240px;
  }

  &__header {
    text-align: left;
    padding: 20px 10px 5px;
    letter-spacing: 2px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
  }
}

h2,
p {
  margin: 0;
  padding: 0;
}

.asset {
  border: 1px solid $color-border-asset;
  box-sizing: border-box;
  display: inline-block;
  height: 50px;
  margin: 0;
  position: relative;
  width: 50%;

  // abreviated name, BTC, BCH, XRP...
  &__code {
    box-sizing: border-box;
    color: #000;
    display: inline-block;
    font-size: 11px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 2px;
    padding: 0 0 0 4px;
    text-transform: uppercase;
  }

  &__image {
    display: inline-block;
    float: left;
    height: 30px;
    padding: 10px 5px 10px 10px;
    width: 30px;
  }

  &__numbers {
    box-sizing: border-box;
    height: 50px;
    overflow: hidden;
    margin: 0;
    max-width: 42%;
    padding: 0;
    position: absolute;
    right: 10px;
    top: 0;
  }

  &__value {
    color: $color-font-primary;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 50px;
    padding: 0;
    text-align: right;
  }

  // style only when amount precedes value in component
  p:nth-last-child(2) {
    line-height: 15px;
    padding: 12px 0 0;
  }
}

.icon {
  height: 0.8em;
  width: 0.8em;
}

.signin {
  &__image {
    display: block;
    height: 100px;
    margin: 0 auto;
    padding-top: 15px;
    width: 100px;
  }

  &__button {
    background-color: #1051F4;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: block;
    font-weight: 600;
    height: 35px;
    letter-spacing: 1px;
    line-height: 37px;
    margin: 30px auto 40px;
    text-align: center;
    text-decoration: none;
    width: 165px;

    &:hover {
      color: #ccc;
    }
  }

  &__text {
    letter-spacing: 1px;
    padding: 20px 0 0;
    text-align: center;
  }
}

.madeby {
  bottom: 10px;
  color: $color-font-primary;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0;
  padding-bottom: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}
