@import "variables";
@import "signin";

#cExtension {
  font-size: 12px;
  font-family: $font-family;
  margin: 0;
  min-height: 300px;
}

.assets {
  padding-top: 20px;
  width: 350px;

  &__header {
    text-align: left;
    padding: 20px 10px 5px;
    letter-spacing: 2px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
  }
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

// /* Rate style */
.rate {
  border: 1px solid $color-border-asset;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  height: 50px;
  margin: 0;
  position: relative;
  width: 50%;

  &__image {
    display: inline-block;
    float: left;
    height: 30px;
    padding: 10px 5px 10px 10px;
    width: 30px;
  }

  &__name {
    display: inline-block;
    height: 30px;
    padding: 10px 0;
    width: 30px;
  }
}

.rate__message {
  line-height: 25px;
  height: 25px;
  box-sizing: border-box;
  position: absolute;
  text-align: center;
  bottom: 10px;
  width: 100%;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 13px;
}

.name--bat {
  padding: 13px 0;
}

.name--full {
  font-size: 12px;
  letter-spacing: 0.5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.name--short {
  color: #05668d;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.rate__value {
  border-radius: 9999px;
  color: $color-font-primary;
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  height: 20px;
  letter-spacing: 2px;
  line-height: 22px;
  padding: 0 10px;
  position: absolute;
  right: 10px;
  top: 50%;
  text-align: center;
  transform: translate(0, -50%);
}
// Transition to this naming convention

.asset {
  &__numbers {
    height: 30px;
    overflow: hidden;
    margin-right: 5px;
    max-width: 30%;
    padding: 10px 0;
    position: absolute;
    right: 10px;
    top: 0;
  }

  &__value {
    color: #05668D;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 15px;
    text-align: right;
  }
}
