/// Font ///
$font-primary: "Roboto-Regular";

/// Colors ///
$color-background-primary: #FFFFFF;
$color-border-primary: #DDDDDD;
$color-font-primary: #444444;
$color-font-secondary: #333333;

$color-background-header: #05668D;
$color-font-header: #FFFFFF;

$color-background-price-default: #DDFFF7;
$color-font-price-default: #05668D;
$color-background-price-increase: ;
$color-font-price-increase: ;
$color-background-price-decrease: #FFD2D2;
$color-font-price-decrease: #FF3231;
