@font-face {
  font-family: "Josefin Sans";
  src: url("./fonts/Josefin-Sans-Regular.woff2") format("woff2");
}
/// Font Families ///
$font-family: "Josefin Sans", "Times New Roman"; /// Colors ///
$color-background: #fff;
$color-border-asset: #eee;
$color-font-primary: #016c92;
$color-font-secondary: #444;

#cExtension {
  font-size: 12px;
  font-family: $font-family;
  margin: 0;
  overflow: hidden;
  width: 350px;
}

.assets {
  overflow: hidden;

  &__content {
    overflow: hidden;
  }

  &__list {
    height: 200px;
    overflow: auto;
  }

  .signin {
    overflow: unset;
  }

  &__header {
    text-align: left;
    padding: 30px 10px 5px;
    letter-spacing: 2px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;

    &--total {
      padding: 40px 10px 5px;
      text-align: center;
    }
  }
}

h2,
p {
  margin: 0;
  padding: 0;
}

.asset {
  border: 1px solid $color-border-asset;
  box-sizing: border-box;
  display: inline-block;
  height: 50px;
  margin: 0;
  position: relative;
  width: 50%;
  // abreviated name, BTC, BCH, XRP...
  &__code {
    box-sizing: border-box;
    color: #000;
    display: inline-block;
    font-size: 11px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 2px;
    padding: 0 0 0 4px;
    text-transform: uppercase;
  }

  &__image {
    display: inline-block;
    float: left;
    height: 30px;
    padding: 10px 5px 10px 10px;
    width: 30px;
  }

  &__numbers {
    box-sizing: border-box;
    height: 50px;
    overflow: hidden;
    margin: 0;
    max-width: 42%;
    padding: 0;
    position: absolute;
    right: 10px;
    top: 0;
  }

  &__value {
    color: $color-font-primary;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 50px;
    padding: 0;
    text-align: right;
  }
  // style only when amount precedes value in component
  p:nth-last-child(2) {
    line-height: 15px;
    padding: 12px 0 0;
  }
}

.icon {
  height: 0.8em;
  width: 0.8em;
}

.signin {
  &__image {
    display: block;
    height: 100px;
    margin: 0 auto;
    padding-top: 15px;
    width: 100px;
  }

  &__button {
    background-color: #1051F4;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: block;
    font-weight: 600;
    height: 35px;
    letter-spacing: 1px;
    line-height: 37px;
    margin: 30px auto 40px;
    text-align: center;
    text-decoration: none;
    width: 165px;

    &:hover {
      color: #ccc;
    }
  }

  &__text {
    letter-spacing: 1px;
    padding: 20px 0 0;
    text-align: center;
  }
}

.madeby {
  bottom: 10px;
  color: $color-font-primary;
  cursor: pointer;
  display: block;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 10px 0 15px;
  padding-bottom: 0;
  text-align: center;
  text-decoration: none;
  width: 100%;
}
